{% extends 'base.html.twig' %}

{% block title %} Registro de Usuarios {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/registro.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}

<div class="row login">
    <div class="col s12 l4 offset-l4">
        <div class="card hoverable">
            <div class="card-action teal lighten-1 white-text">
                <h3>Registro de Usuarios</h3>
            </div>
            <div class="card-content">
                {{ form_start(form)}}
                {{ form_widget(form)}}
                {{ form_end(form)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
